@model MiniCore_Francis.Models.Pass

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pass</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PassID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
